:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --font-os: 'Open Sans', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}


body{
  background-color: var(--violet);
}

.container{
  margin-top: 5rem;
}
.container__title {
  margin: 1rem 3rem;
  font-family: var(--font-poppins);
  font-weight:var(--fw-bold);
  color: white;
}


.container__subtitle {
  font-family: var(--font-poppins);
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}


.container__description {
  color: white;
  font-family: var(--font-os);
}


.container__image{
  margin: 1rem 2rem;
}

.container__button {
  font-family: var(--font-os);
  color: white;
  background-color: black;
  border-radius: 4rem;
  margin-top: 5rem;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}