/* ! Css reusable classes to reset all the default browser settings to default. */


:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --font-os: 'Open Sans', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}


* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}


body{
  background-color: var(--violet);
}


.container{
  margin-top: 7rem;
}

.container__logo {
  height: 3rem;
  width: auto;
  margin-inline: 4rem;
  margin-top: 2rem;
}


.container__subtitle {
  font-family: var(--font-poppins);
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}


.container__description {
  color: white;
  font-family: var(--font-os);
  margin-bottom: 3rem;
  line-height: 1.5rem;
}


.container__image{
  margin: 4rem 4rem;
}


.container__button {
  font-family: var(--font-poppins);
  color: var(--violet);
  background-color: white;
  border-radius: 4rem;
  padding: 1.2rem;
  width: 5rem;
  height: auto;
  cursor: pointer;
  box-shadow: -2px 7px 15px -9px rgba(0,0,0,0.75);;
}


/** Grid container responsible for the grid and changing the width */


.grid-container{
  display: grid;
  grid-template-columns: 1fr 1.3fr;
}


/*? Designing the footer social icons */


.social__icons i {
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: .5rem;
  margin-left: .5rem;
}


.social__icons{
  position: absolute;
  right: 4rem;
}

.bg-desktop{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-mobile{
  display: none;
}

/* TODO Media queries responsive for responsiveness across all devices */


@media only screen and (max-width: 600px ){
  .grid-container{
    grid-template-columns: 1fr;
  }
  
  .container__image{
    height: 19rem;
    width: auto;
    margin-left: 2rem;
  }

  .container__logo{
    margin-left: 2rem;
  }

  .container{
    margin-left: 2rem;
    margin-top: 1rem;
  }

  .container__description{
    text-align: justify;
  }


  .container__subtitle{
    text-align: center;
    margin-right: 3rem;
    font-size: 1.6rem;
  }

  .social__icons{
    right: 14rem;
    margin-top: 4rem;
  }

  .container__button{
    margin-left: 8rem;
    width: 20vw;
    height: auto;
  }

  .bg-mobile{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .bg-desktop{
    display: none;
  }

  .word-break{
    word-break: break-all;
  }
}

